.favorites {
  width: 100%;
  box-sizing: content-box;
  position: relative;
  z-index: 11;
  padding-top: 50px;
  .layout {
    flex-wrap: wrap;
    gap: 40px;
    display: flex;
    align-items: flex-start;
    @media (max-width: 691px) {
      justify-content: center;
    }
  }
  &__null {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
    h2 {
      color: #80858b;
      margin-top: 50px;
    }
  }
}
