.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* /////////////////////////////////////////// */

* {
  font-family: "Exo 2", sans-serif;
  box-sizing: border-box;
}

.font-size-16px {
  font-size: 16px;
}

.font-size-20px {
  font-size: 20px;
}

h2,
h3 {
  background-color: transparent;
  color: white;
}

h2 {
  font-weight: 700;
}

h3 {
  font-weight: 600;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}

.second-root__block {
  width: 88vw;
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 49;
}

@media screen and (max-width: 1280px) {
  .second-root__block {
    width: 100vw;
  }
}
/* 
#kinobd{
  height: 800px;
  width: 800px;
  display: block;
} */
