header {
  padding-top: 40px;
  width: 100%;
  position: relative;
  min-height: 140px;
  max-height: 140px;
  transition: 0.3s ease;
  background: linear-gradient(180deg, rgba(black,0.7), transparent);
  z-index: 40;
  .layout{
    padding-left: 147px;
    padding-right: 120px;
    align-items: center;
  }
  @media (max-width: 1440px) {
    padding-right: 135px;
  }
  @media (max-width: 1280px) {
    padding-left: 176px;
    padding-right: 176px;
  }
  @media (max-width: 1024px) {
    padding-right: 48px;
    padding-left: 48px;
  }
  @media (max-width: 768px) {
    padding-right: 40px;
    padding-left: 40px;
  }
  @media (max-width: 480px) {
    padding-right: 32px;
    padding-left: 32px;
    align-items: flex-start;
    padding-top: 32px;
  }
  @media (max-width: 320px) {
    padding-right: 24px;
    padding-left: 24px;
    gap: 25px;
  }
}
