header{
    display: flex;
    padding-left: 146px;
    padding-top: 40px;
    width: 100%;
    padding-right: 60px;
    position: relative;
    height: 100px;
    align-items: center;
    @media (max-width: 1440px){
        padding-right: 135px;
    }
    @media (max-width: 1280px){
        padding-left: 78px;
        padding-right: 176px;
    }
    @media (max-width: 1024px){
        padding-right: 48px;
    }
    @media (max-width: 768px){
        padding-right: 40px;
    }
    @media (max-width: 480px){
        padding-right: 32px;
        padding-left: 32px;
        justify-content: space-between;
        padding-top: 32px;
    }
    @media (max-width: 320px){
        padding-right: 24px;
        padding-left: 24px;
    }
}