.search-list {
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
  position: relative;
  z-index: 999;
  &__buttons {
    height: 70px;
    display: flex;
    align-items: center;
    background-color: #242426;
    padding: 10px;
    &__button {
      border: none;
      border-top: 2px solid #323537;
      border-bottom: 2px solid #323537;
      padding: 14px 0;
      max-width: 217px;
      font-size: 16px;
      cursor: pointer;
      outline: none;
      width: 217px;
      height: 50px;
      color: #80858b;
      transition: 0.3s ease;
      background-color: #242426;
      &:nth-child(1) {
        border-top-left-radius: 6px;
        border-left: 2px solid #323537;
        border-bottom-left-radius: 6px;
      }
      &:nth-child(4) {
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        border-right: 2px solid #323537;
      }
      &:hover {
        color: #fff;
      }
      &.active {
        background-color: #323537;
        color: #fff;
      }
    }
  }
  &__main {
    background-color: #242426;
    min-height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    max-height: 400px;
    &__loader {
      justify-content: center;
    }
    h2 {
      margin: 0;
      color: #80858b;
    }
    &.not-founded {
      justify-content: center;
    }
    &__items {
      width: 100%;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
      &::-webkit-scrollbar {
        width: 7px;
      }

      &::-webkit-scrollbar-track {
        background-color: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background: #7b61ff;
        border-radius: 10px;
      }
    }
    a {
      color: #fff;
      width: 100%;
      button {
        color: #fff;
        outline: none;
        border: none;
        background-color: #7b61ff;
        cursor: pointer;
        padding: 15px 30px;
        font-weight: 600;
        font-size: 16px;
        width: 100%;
        transition: 0.3s ease;
        &:hover {
          background-color: #917cff;
        }
      }
    }
  }
}
