.nav {
  display: flex;
  gap: 15px;
  flex-direction: column;
  top: -100px;
  width: 340px;
  position: absolute;
  height: 370px;
  opacity: 0;
  left: 100px;
  border-radius: 10px;
  padding: 0 50px;
  padding-top: 180px;
  background-color: #242426;
  transition: 0.3s ease;
  z-index: 99;
  pointer-events: none;
  box-shadow: 0 5px 10px rgba($color: #000000, $alpha: 0.7);
  @media (max-width: 1760px) {
    left: 70px;
  }
  @media (max-width: 1730px) {
    left: 125px;
  }
  @media (max-width: 1540px) {
    left: 70px;
  }
  @media (max-width: 1440px) {
    width: 320px;
    left: 40px;
  }
  @media (max-width: 1200px) {
    left: 0px;
  }
  @media (max-width: 1090px) {
    left: -10px;
  }
  @media (max-width: 1024px) {
    left: 10px;
  }
  @media (max-width: 848px) {
    left: -30px;
  }
  @media (max-width: 768px) {
    left: 0;
    bottom: -1px;
    height: 100px;
    border-radius: 0px;
    width: 100%;
    position: sticky;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -o-sticky;
    position: -ms-sticky;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    z-index: 9999;
  }
  a {
    transition: 0.3s ease;
    color: #fff;
    gap: 25px;
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: left;
    font-weight: 600;
    p {
      margin: 0;
    }
    @media (max-width: 768px) {
      flex-direction: column;
      gap: 10px;
      height: 50px;
    }
    &.nav__active,
    &.nav__active path {
      color: #7b61ff;
      fill: #7b61ff;
    }
    path {
      transition: 0.3s ease;
    }
    &:hover,
    &:hover path {
      color: #917cff;
      fill: #917cff;
    }
  }
  &.nav__open {
    opacity: 1;
    transition: 0.3s ease;
    pointer-events: all;
  }
}

.burger-menu__button {
  height: 56px;
  min-width: 56px;
  background-color: #7b61ff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  transition: 0.3s ease;
  margin-right: 32px;
  z-index: 999;
  position: relative;
  cursor: pointer;
  @media (max-width: 768px) {
    display: none;
  }

  .burger {
    margin: auto;
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    gap: 4px;
    .burger-menu__lines {
      height: 2px;
      width: 20px;
      background-color: #fff;
      border-radius: 3px;
      transition: 0.3s ease;
    }
    &.x {
      position: relative;
      .burger-menu__lines {
        position: absolute;
        top: 10px;
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(1) {
          transform: rotate(45deg);
        }
        &:nth-child(3) {
          transform: rotate(135deg);
        }
      }
    }
  }
  &.burger-menu__open {
    @media (max-width: 480px) {
      right: 175px;
    }
    @media (max-width: 420px) {
      right: 165px;
    }
    @media (max-width: 320px) {
      right: 32px;
    }
  }
}
