.selected-person {
  padding-left: 147px;
  max-width: 1920px;
  padding-top: 50px;
  padding-right: 120px;
  width: 100%;
  @media (max-width: 1760px) {
    padding-left: 120px;
    padding-right: 120px;
  }
  @media (max-width: 1730px) {
    padding-left: 176px;
    padding-right: 176px;
  }
  @media (max-width: 1540px) {
    padding-left: 120px;
    padding-right: 120px;
  }
  @media (max-width: 1440px) {
    padding-left: 90px;
    padding-right: 90px;
  }
  @media (max-width: 1200px) {
    padding-left: 50px;
    padding-right: 50px;
  }
  @media (max-width: 1090px) {
    padding-left: 38px;
    padding-right: 38px;
  }
  @media (max-width: 1024px) {
    padding-left: 60px;
    padding-right: 60px;
  }
  @media (max-width: 848px) {
    padding-left: 20px;
    padding-right: 20px;
  }
  @media (max-width: 767px) {
    padding-left: 120px;
    padding-right: 120px;
  }
  @media (max-width: 700px) {
    padding-left: 20px;
    padding-right: 20px;
  }
  &__top-block {
    display: flex;
    @media (max-width: 768px) {
      flex-wrap: wrap;
      gap: 20px;
    }
  }
  &__left-side {
    display: flex;
    flex-direction: column;
    min-width: 266px;
    gap: 32px;
  }
  &__photo {
    height: 400px;
    width: 266px;
    border-radius: 20px;
    @media (max-width: 900px) {
      height: 278px;
    }
    @media (max-width: 768px) {
      height: 364px;
      max-width: 276px;
    }
  }
  .trailer-block {
    max-width: 300px;
    height: 200px;
    position: relative;
    img {
      border-radius: 6px;
      object-fit: cover;
      height: 150px;
      width: 100%;
    }
    button {
      color: #fff;
      position: absolute;
      top: 110px;
      left: 10px;
      border: none;
      background-color: #7b61ff;
      padding: 8px 15px 8px 10px;
      border-radius: 10px;
      display: inline-flex;
      font-weight: 600;
      align-items: center;
      cursor: pointer;
      outline: none;
      gap: 2px;
    }
  }

  &__right-side {
    padding-left: 42px;
  }
  h1 {
    color: #fff;
    font-size: 40px;
    margin: 10px 0 15px;
  }
  h2 {
    color: #afb2b6;
    font-weight: normal;
  }
  .markers {
    display: flex;
    gap: 20px;
  }

  &__description {
    padding-top: 40px;
    max-width: 900px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }
  &__column-description {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    @media (max-width: 768px) {
      padding-top: 0;
    }
    &__block {
      display: flex;
      gap: 50px;
      @media (max-width: 768px) {
        gap: 0px;
      }
      .title {
        color: #afb2b6;
        margin: 0;
        min-width: 200px;
      }
      .content {
        margin: 0;
        max-width: 1100px;
        color: #fff;
        div {
          background-color: transparent;
        }
        p {
          display: inline;
          margin: 0;
          font-weight: 500;
          line-height: 24px;
          &:not(:last-child):after {
            content: ", ";
            margin-right: 4px;
          }
        }
      }
    }
  }
  &__bottom-block {
    padding-top: 50px;
  }
}
