* {
    background-color: rgb(54, 54, 54);
    font-family: 'Exo 2', sans-serif;
  }
  
  .font-size-16px{
  font-size: 16px;
  }
  
  .font-size-20px{
      font-size: 20px;
      }
  
  h2,h3{
      background-color: transparent;
      color: white;
  }
  
  h2{
      font-weight: 700;
  }
  
  h3{
      font-weight: 600;
  }
  
  .center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .about-user {
    display: flex;
    height: 56px;
  }
  
  .initials {
    background-color: #7b61ff;
    border-radius: 10px;
    width: 56px;
  }
  
  .username{
      padding-left: 20px;
  }
  