.about-user {
  display: flex;
  height: 56px;
  white-space: nowrap;
  position: relative;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  .initials {
    background-color: #7b61ff;
    border-radius: 10px;
    width: 56px;
    height: 56px;
    img {
      height: 24px;
      width: 24px;
    }
  }
  .username {
    padding-left: 20px;
  }
  h3 {
    line-height: 24px;
  }
  .arrow {
    height: 6px;
    width: 10px;
    transition: 0.3s ease;
  }
  .arrow-right {
    height: 10px;
    width: 6px;
  }
  .arrow-top {
    transition: 0.3s ease;
    transform: rotate(180deg);
  }
}
.user-modal {
  height: 0;
  width: 267px;
  overflow: hidden;
  border-radius: 10px;
  flex-direction: column;
  display: inline-flex;
  justify-content: center;
  transition: 0.3s ease;
  background-color: #242426;
  position: relative;
  margin-top: 24px;
  z-index: 9999;
  @media (max-width:1024px){
    position: absolute;
    right: 0px;
  }
  hr {
    width: 100%;
    border: 1px solid #323537;
    margin: 0;
  }
  a,
  p {
    color: #fff;
    transition: 0.3s ease;
    cursor: pointer;
    font-weight: 500;
    padding: 15px 20px;
    margin: 0;
    &:hover {
      color: #7b61ff !important;
    }
  }
}
.user-modal_open {
  height: 112px;
  transition: 0.2s ease;
  border: 2px solid transparent;
}
.user-block {
  margin-left: 41px;
  height: 56px;
  position: relative;
  @media (max-width: 1024px) {
    width: 56px;
  }
  @media (max-width: 768px) {
    margin: 0;
  }
}
