footer {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  @media (max-width: 768px) {
    padding-bottom: 50px;
  }
  p {
    color: #afb2b6;
    font-weight: 500;
    line-height: 24px;
    white-space: nowrap;
    margin: auto;
  }
}
