.swiper-wrapper {
  display: flex;
  position: relative;
  gap: 40px;
  flex-wrap: nowrap;
  .swiper-slide {
    max-width: 266px;
    margin: 0 !important;
    width: 100% !important;
    @media (max-width: 1720px) {
      max-width: 208px;
    }
    @media (max-width: 600px) {
      max-width: 272px;
    }
  }
}
.swiper-buttons {
  display: flex;
  gap: 20px;
}
