.person-movie {
  width: 266px;
  height: 433px;
  position: relative;
  cursor: pointer;
  display: flex;
  text-decoration: none;
  flex-direction: column;
  z-index: 22;
  @media (max-width: 1720px) {
    width: 208px;
  }
  @media (max-width: 600px) {
    width: 272px;
  }
  &:hover h2 {
    color: #7b61ff !important;
  }
  &:hover {
    &:after {
      background-color: rgba(#000, 0.2);
    }
  }
  &:after {
    content: "";
    position: absolute;
    border-radius: 20px;
    top: 0;
    left: 0;
    right: 0;
    height: 358px;
    background-color: rgba(#000, 0);
    transition: 0.3s ease;
  }
  &__poster {
    min-height: 357px;
    padding: 20px;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: 0.3s ease;
    position: relative;
    @media (max-width: 1720px) {
      min-height: 279px;
    }
    @media (max-width: 600px) {
      min-height: 357px;
    }
  }
  &__description {
    display: flex;
    flex-direction: column;
    @media (max-width: 768px) {
      padding-top: 20px;
    }
    h2 {
      font-size: 16px;
      color: #fff;
      font-weight: 700;
      line-height: 24px;
      transition: 0.3s ease;
      margin-bottom: 4px;
    }
    p {
      color: #afb2b6;
      margin: 0;
    }
  }
}
