.selected-movie {
  padding-left: 147px;
  max-width: 1920px;
  width: 100%;
  &__top-block {
    display: flex;
  }
  &__left-side {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    gap: 32px;
    .favorite-button,
    .watch-button {
      outline: none;
      background-color: #323537;
      max-height: 56px;
      padding: 19px;
      border-radius: 10px;
      transition: 0.3s;
      font-weight: 600;
      font-size: 18px;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      cursor: pointer;
      span {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      svg,
      path {
        transition: fill 0.3s ease;
        fill: transparent;
      }
      &.active {
        background-color: #7b61ff;
      }
      &:hover {
        background-color: #917cff;
        path {
          fill: #fff;
        }
      }
    }
    .watch-button {
      &:hover svg {
        fill: #fff;
      }
    }
    img {
      height: 400px;
      width: 300px;
      border-radius: 20px;
    }
    .trailer-block {
      max-width: 300px;
      height: 200px;
      position: relative;
      img {
        border-radius: 6px;
        object-fit: cover;
        height: 150px;
        width: 100%;
      }
      button {
        svg {
          transition: fill 0.3s ease;
          fill: transparent;
        }
        &:hover {
          background-color: #917cff;
          svg {
            fill: #fff;
          }
        }
        color: #fff;
        position: absolute;
        transition: 0.3s ease;
        top: 110px;
        left: 10px;
        border: none;
        background-color: #7b61ff;
        padding: 8px 15px 8px 10px;
        border-radius: 10px;
        display: inline-flex;
        font-weight: 600;
        align-items: center;
        cursor: pointer;
        outline: none;
        gap: 2px;
      }
    }
  }
  &__right-side {
    padding-left: 42px;
    h1 {
      color: #fff;
      font-size: 40px;
      margin: 10px 0 15px;
    }
    h2 {
      color: #afb2b6;
      font-weight: normal;
    }
    .markers {
      display: flex;
      gap: 20px;
    }
  }
  &__description {
    padding-top: 40px;
    max-width: 900px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }
  &__column-description {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    &__block {
      display: flex;
      gap: 50px;
      .title {
        color: #afb2b6;
        margin: 0;
        min-width: 200px;
      }
      .content {
        margin: 0;
        max-width: 1100px;
        div {
          background-color: transparent;
        }
        p {
          display: inline;
          margin: 0;
          font-weight: 500;
          line-height: 24px;
          &:not(:last-child):after {
            content: ", ";
            margin-right: 4px;
          }
        }
      }
    }
  }
  &__bottom-block {
    padding-top: 50px;
    padding-right: 120px;
  }
}
