.tabs-layout{
    padding: 50px 0;
    border-bottom: 1px solid #323537;
    padding-bottom: 50px;
    max-width: 1920px;
    &__title-block{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 30px;
    }
}