.movies-block {
  h1 {
    color: #fff;
    margin: 0;
  }
  &__movies {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 50px;
    @media (max-width: 1760px) {
      gap: 32px;
    }
    @media (max-width: 700px) {
      justify-content: center;
    }
  }
  @media (max-width: 691px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__button {
    height: 56px;
    margin-top: 50px;
    display: flex;
    button {
      border: none;
      max-width: 266px;
      min-width: 266px;
      border-radius: 10px;
      height: 56px;
      font-size: 18px;
      padding: 16px 73px;
      font-weight: 600;
      line-height: 24px;
      outline: none;
      color: #fff;
      cursor: pointer;
      transition: 0.3s ease;
      background-color: #7b61ff;
      &:hover {
        background-color: #917cff;
        transform:perspective(100px) translateZ(3px);
      }
    }
  }
}
