.logo {
  height: 40px;
  width: 158px;
  box-sizing: content-box;
  padding-right: 78px;
  z-index: 100;
  position: relative;
  @media (max-width: 1440px){
    padding-right: 38px;
  }
  @media (max-width: 768px){
    padding-right: 0px;
  }
}
