.movie {
  width: 266px;
  max-height: 433px;
  position: relative;
  cursor: pointer;
  z-index: 22;
  &:hover p {
    color: #7b61ff;
  }
  &:hover {
    &:after {
      background-color: rgba(#000, .2);
    }
  }
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 358px;
    background-color: rgba(#000, 0);
    transition: .3s ease;
  }
  &__poster {
    height: 357px;
    padding: 20px;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: 0.3s ease;
    position: relative;
    .rating {
      font-size: 18px;
      display: inline;
      padding: 2px 8px;
      max-width: 40px;
      color: #fff;
      z-index: 33;
      background-color: #f3a608;
      border-radius: 6px;
      &.__green {
        background-color: #00a340;
      }
      &.__red {
        background-color: #f45d2d;
      }
    }
  }
  &__description {
    p {
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      color: #fff;
      transition: 0.3s ease;
    }
    .genres {
      display: flex;
      gap: 10px;
    }
  }
}
