.filters-results {
  width: 100%;
  box-sizing: content-box;
  position: relative;
  z-index: 11;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__markers {
    padding-top: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    &__marker {
      font-size: 16px;
      border: 2px solid transparent;
      font-weight: 500;
      line-height: 24px;
      color: #ffffff;
      max-height: 32px;
      list-style-type: none;
      white-space: nowrap;
      align-items: center;
      display: inline-flex;
      padding: 4px 8px;
      background-color: #242426;
      border-radius: 6px;
      cursor: pointer;
      svg {
        margin-left: 10px;
        color: #afb2b6;
        transition: 0.3s ease;
        &:hover {
          color: #fff;
        }
      }
    }
  }
  button {
    margin-top: 100px;
    border-radius: 40px;
    color: #fff;
    padding: 15px 30px;
    width: 100%;
    outline: none;
    max-width: 210px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #242426;
    cursor: pointer;
    transition: 0.3s ease;
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }
    svg {
      color: #7b61ff;
      transition: 50s ease;
    }
    &:hover {
      background-color: #323537;
      svg {
        transform: rotate(4000deg);
      }
    }
  }
  .layout {
    padding-top: 50px;
    flex-wrap: wrap;
    gap: 40px;
    display: flex;
    align-items: flex-start;
    @media (max-width: 691px) {
      justify-content: center;
    }
  }
  &__null {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
    h2 {
      color: #80858b;
      margin-top: 50px;
    }
  }
}
