.home {
  width: 100%;
  box-sizing: content-box;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  &__content {
    display: flex;
    flex-direction: column;
  }
  .layout {
    padding-top: 56px;
    padding-bottom: 56px;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.background-video-block {
  width: 100%;
  height: 750px;
  z-index: 1;
  display: flex;
  align-items: center;
  position: absolute;
  top: -140px;
  justify-content: center;
  overflow: hidden;
  @media (max-width: 768px) {
    top: -200px;
  }
  &__untouch-block {
    position: absolute;
    top: -200px;
    height: 1000px;
    width: 100%;
    z-index: 44;
    background-color: rgba($color: #000000, $alpha: 0.5);
  }
  &__main {
    max-width: 1920px;
    width: 100%;
    padding-left: 147px;
    height: 600px;
    display: flex;
    position: relative;
    padding-top: 100px;
    z-index: 10;
    flex-direction: column;
    h1 {
      color: #fff;
      font-size: 50px;
      margin: 0;
    }
    @media (max-width: 1760px) {
      padding-left: 118px;
      padding-right: 118px;
    }
    @media (max-width: 1730px) {
      padding-left: 176px;
      padding-right: 176px;
    }
    @media (max-width: 1520px) {
      padding-left: 120px;
      padding-right: 120px;
    }
    @media (max-width: 1440px) {
      padding-left: 90px;
      padding-right: 90px;
    }
    @media (max-width: 1200px) {
      padding-left: 50px;
      padding-right: 50px;
    }
    @media (max-width: 1090px) {
      padding-left: 38px;
      padding-right: 38px;
    }
    @media (max-width: 1024px) {
      padding-left: 60px;
      padding-right: 60px;
    }
    @media (max-width: 848px) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  &__small-description {
    display: flex;
    color: #80858b;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
    @media (max-width: 768px){
      flex-wrap: wrap;
    }
    @media (max-width: 360px){
      width: 360px;
    }
  }
  &__description {
    padding-top: 20px;
    color: #fff;
    font-size: 18px;
    width: 55%;
    line-height: 24px;
    max-height: 284px;
    overflow: hidden;
    @media (max-width: 1520px) {
      width: 100%;
    }
    @media (max-width: 360px) {
      width: 360px;
    }
  }
  &__button {
    height: 56px;
    margin-top: 50px;
    display: flex;
    a {
      text-decoration: none;
      max-width: 266px;
      border-radius: 10px;
      height: 56px;
      padding: 16px 69px;
      font-weight: 600;
      line-height: 24px;
      color: #fff;
      cursor: pointer;
      transition: 0.3s ease;
      background-color: #7b61ff;
      &:hover {
        background-color: #917cff;
        transform: perspective(100px) translateZ(3px);
      }
    }
  }
  iframe {
    position: absolute;
    top: -130px;
    height: 1100px;
    width: 100vw;
    z-index: 2;
    @media (max-width: 1770px) {
      transform: scale(2.5);
    }
    @media (max-width: 768px) {
      transform: scale(3);
    }
    @media (max-width: 600px) {
      transform: scale(4);
    }
    @media (max-width: 450px) {
      transform: scale(5);
    }
    @media (max-width: 380px) {
      transform: scale(6);
    }
  }
}