.logo {
  height: 40px;
  width: 158px;
  margin-bottom: 20px;
  margin-top: 48px;
  box-sizing: content-box;
  @media (max-width: 1280px){
    padding-right: 78px;
    margin: 0;
  }
  @media (max-width: 480px){
    margin: 0;
    padding-right: 64px;
  }
}
