.logo {
  height: 40px;
  width: 158px;
  margin-bottom: 20px;
  margin-top: 48px;
  box-sizing: content-box;
  @media (max-width: 1280px){
    padding-left: 176px;
  }
  @media (max-width: 1024px){
    padding-left: 48px;
  }
  @media (max-width: 768px){
    padding-left: 40px;
  }
  @media (max-width: 480px){
    margin: 0;
    padding-left: 0;
  }
}
