.search-results {
  width: 100%;
  box-sizing: content-box;
  position: relative;
  z-index: 11;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  max-width: 1920px;
  margin: 0 auto;
  gap: 100px;
  .button-layout {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  button {
    border-radius: 40px;
    color: #fff;
    padding: 15px 30px;
    width: 100%;
    outline: none;
    max-width: 210px;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    border: none;
    justify-content: center;
    align-items: center;
    background-color: #242426;
    cursor: pointer;
    transition: 0.3s ease;
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }
    svg {
      color: #7b61ff;
      transition: 50s ease;
    }
    &:hover {
      background-color: #323537;
      svg {
        transform: rotate(4000deg);
      }
    }
  }
  .layout {
    flex-wrap: wrap;
    display: flex;
    gap: 40px;
    align-items: flex-start;
    @media (max-width: 691px) {
      justify-content: center;
    }
  }
  &__null {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
    h2 {
      color: #80858b;
      margin-top: 50px;
    }
  }
}
